@charset "utf-8";

/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Home Construction Theme
Version:    1.0
Last change:    12.05.2017
-------------------------------------------------------------------

[Table of contents]

1. Body
2. Header / .top-header
3. Navigation / .navbar
4. Menu Tabs / .nav-tabs
5. Owl Carousel / .owl-carousel
6. Image Carousel / #myCarousel
7. Google Map / #mapkit-7453
8. Content / .content-section
9. Number scroll / .counter-div
10. Services Page / .services-main
11. Inner header / .inner-header
12. Blog Page / .blog-bg
13. Footer / .footer

-------------------------------------------------------------------

[Color codes]
Body-Font:  	#808080 {dark-Grey}
Background:		#ffffff (white)
Content:		#4b4b4b (light black)

a (standard):	#000 (black)
a (visited):	#8ECE50 (dark yellow)
a (active):	 	#8ECE50 (dark yellow)
 
-------------------------------------------------------------------

[Font Properties]
Body font:			14px Open sans,sans-serif;
Headers:			11px, 400, Open sans,sans-serif;
Input, textarea:	14px Open sans,sans-serif;

Notes:	decreasing heading by 0.4em with every subsequent heading level

-------------------------------------------------------------------*/

/*[Google Fonts]*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

/*[Animation CSS]*/
@import "animate.css";

/*[Hover effects CSS]*/
@import "component-2.css";
@import "hover.css";
@import "modern-hover.css";

/*[Fonts CSS]*/
@import "font-awesome/css/font-awesome.min.css";
@import "flaticon.css";

/*[Hover effects CSS]*/
@import "circle-hover.css";

/*[Shapes CSS]*/
@import "shapes.css";

/*[Auto Arrange div CSS]*/
@import "mixitup.css";

/*[Number scroller CSS]*/
@import "counter.css";
/*------------------------------css ends here-------------------------------------*/