	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/03/2018 19:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 35px;
font-style: normal;
margin-left: 0;
}

.flaticon-gestures:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-wrench:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-email:before { content: "\f104"; }
.flaticon-telephone-auricular-with-cable:before { content: "\f105"; }
.flaticon-plumbing:before { content: "\f106"; }
.flaticon-phone-call:before { content: "\f107"; }
.flaticon-switch:before { content: "\f108"; }
.flaticon-window:before { content: "\f109"; }
.flaticon-maid:before { content: "\f10a"; }
.flaticon-dish:before { content: "\f10b"; }
.flaticon-repair:before { content: "\f10c"; }
.flaticon-tool-1:before { content: "\f10d"; }
.flaticon-technology:before { content: "\f10e"; }
.flaticon-people-1:before { content: "\f10f"; }
.flaticon-home:before { content: "\f110"; }
.flaticon-tool:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-pipe:before { content: "\f113"; }
.flaticon-wall:before { content: "\f114"; }
.flaticon-driller:before { content: "\f115"; }
.flaticon-light-bulb:before { content: "\f116"; }
.flaticon-steering-wheel:before { content: "\f117"; }
.flaticon-art-painting-roller:before { content: "\f118"; }
.flaticon-tools:before { content: "\f119"; }
.flaticon-paint-brushes:before { content: "\f11a"; }
