@charset "utf-8";/* CSS Document *//* Hesagon-shape */
.hexagon {
	overflow: hidden;
	left:-0px;
	top:-80px;
	position:absolute;
	visibility: hidden;
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	transform: rotate(150deg);
	cursor: pointer;
}
.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}/*.staff-section .item:hover .hexagon-in2{transform: rotate(-70deg);}*/
.hexagon-in2 {
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-repeat: no-repeat;
	background-position: 100%;
	visibility: visible;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
	background-size:100%!important
}
.hexagon1 {
	width: 100%;
	height: 170px;
	margin: 0 0 0 0;
}
.hexagon2 {
	width: 200px;
	height: 400px;
	margin: -80px 0 0 20px;
}
.dodecagon {
	width: 200px;
	height: 200px;
	margin: -80px 0 0 20px;
}/*parallelogram*/
.parallelogram {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 50%;
	right:-21%;
	height: 100%;
	position:absolute;
	border: none;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	/*background: #8ECE50; !* Old browsers *!*/
	/*background: -moz-linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); !* FF3.6-15 *!*/
	/*background: -webkit-linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); !* Chrome10-25,Safari5.1-6 *!*/
	/*background: linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ECE50', endColorstr='#8ECE50', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity:0.9;
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	background: #9BE03F; /* Old browsers */
	background: -moz-linear-gradient(45deg, #9BE03F 0%, #9BE03F 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #9BE03F 0%, #9BE03F 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #9BE03F 0%, #9BE03F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
