/*!
Theme Name: Multifix
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: multifix
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Multifix is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
/*------------------------------------------------------------------
[Table of contents]

1. Body / body
2. Header / .top-header
3. Navigation / .navbar
4. Menu Tabs / .nav-tabs
5. Owl Carousel / .owl-carousel
6. Image Carousel / #myCarousel
7. Google Map / #mapkit-7453
8. Content / .content-section
9. Number scroll / .counter-div
10. Services Page / .services-main
11. Inner header / .inner-header
12. Blog Page / .blog-bg
13. Footer / .footer

-------------------------------------------------------------------

[Color codes]
Body-Font:  	#808080 {dark-Grey}
Background:		#ffffff (white)
Content:		#4b4b4b (light black)

a (standard):	#000 (black)
a (visited):	#8ECE50 (dark yellow)
a (active):	 	#8ECE50 (dark yellow)

Default theme Colour:     Primary Colour [Blue(#00ADFF],
						  Secondary Colour [Yellow(#E6B807)]

Template Theme Custom colour combination:

1.  Primary Colour [Blue(#008ac2)],
    Secondary Colour [Green(#018a5e)]
-------------------------------------------------
2.  Primary Colour [Navy blue(#1c1829],
    Secondary Colour [Rusty red(#ae5f56)],
-------------------------------------------------
3.  Primary Colour [Royal  blue(#014d6f)],
    Secondary Colour [Gold yellow (#e2bf29)]
-------------------------------------------------
4.  Primary Colour [Blue(#003e61)],
    Secondary Colour [Dark orange (#c93c06)]
-------------------------------------------------
5.  Primary Colour [Denim blue(#22363f)],
    Secondary Colour [Warm yellow(#fad65b)]
-------------------------------------------------
6.  Primary Colour [Dark navy blue(#121d33)],
    Secondary Colour [Clay red (#fe6d50)]
-------------------------------------------------
7.  Primary Colour [Black(#000105)],
    Secondary Colour [Butter yellow(#ffe258)]
-------------------------------------------------
8.  Primary Colour [Charcoal(#4e4e4e)],
    Secondary Colour [Chilly red(#c25b4e)]
-------------------------------------------------
9.  Primary Colour [Denim blue(#22363f)],
    Secondary Colour [Fresh yellow(#f7ef6a)]
-------------------------------------------------
10. Primary Colour [Black(#000000)],
    Secondary Colour [Butter yellow(#c06014)]

-------------------------------------------------------------------

[Font Properties]
Body font:		14px Open sans,sans-serif;
Headers:		11px, 400, Open sans,sans-serif;
Input, textarea:14px Open sans,sans-serif;

Notes: decreasing heading by 0.4em with every subsequent heading level

-------------------------------------------------------------------*/

/*Custom font*/

/*Body Default*/
.open-sans {
	font-family: 'Open Sans', sans-serif!important;
}
.raleway {
	font-family: 'Raleway', sans-serif;
}
body {
	font-family: 'Open Sans', sans-serif;
}
html, body {
	height: 100%;
}
ul {
	padding: 0
}
strong {
	font-weight: 700
}

.m-t-0 {
	margin-top: 0px !important; }

.p-t-0 {
	padding-top: 0px !important; }

.m-b-0 {
	margin-bottom: 0px !important; }

.p-b-0 {
	padding-bottom: 0px !important; }

.m-l-0 {
	margin-left: 0px !important; }

.p-l-0 {
	padding-left: 0px !important; }

.m-r-0 {
	margin-right: 0px !important; }

.p-r-0 {
	padding-right: 0px !important; }

.m-t-5 {
	margin-top: 5px !important; }

.p-t-5 {
	padding-top: 5px !important; }

.m-b-5 {
	margin-bottom: 5px !important; }

.p-b-5 {
	padding-bottom: 5px !important; }

.m-l-5 {
	margin-left: 5px !important; }

.p-l-5 {
	padding-left: 5px !important; }

.m-r-5 {
	margin-right: 5px !important; }

.p-r-5 {
	padding-right: 5px !important; }

.m-t-10 {
	margin-top: 10px !important; }

.p-t-10 {
	padding-top: 10px !important; }

.m-b-10 {
	margin-bottom: 10px !important; }

.p-b-10 {
	padding-bottom: 10px !important; }

.m-l-10 {
	margin-left: 10px !important; }

.p-l-10 {
	padding-left: 10px !important; }

.m-r-10 {
	margin-right: 10px !important; }

.p-r-10 {
	padding-right: 10px !important; }

.m-t-15 {
	margin-top: 15px !important; }

.p-t-15 {
	padding-top: 15px !important; }

.m-b-15 {
	margin-bottom: 15px !important; }

.p-b-15 {
	padding-bottom: 15px !important; }

.m-l-15 {
	margin-left: 15px !important; }

.p-l-15 {
	padding-left: 15px !important; }

.m-r-15 {
	margin-right: 15px !important; }

.p-r-15 {
	padding-right: 15px !important; }

.m-t-20 {
	margin-top: 20px !important; }

.p-t-20 {
	padding-top: 20px !important; }

.m-b-20 {
	margin-bottom: 20px !important; }

.p-b-20 {
	padding-bottom: 20px !important; }

.m-l-20 {
	margin-left: 20px !important; }

.p-l-20 {
	padding-left: 20px !important; }

.m-r-20 {
	margin-right: 20px !important; }

.p-r-20 {
	padding-right: 20px !important; }

.m-t-25 {
	margin-top: 25px !important; }

.p-t-25 {
	padding-top: 25px !important; }

.m-b-25 {
	margin-bottom: 25px !important; }

.p-b-25 {
	padding-bottom: 25px !important; }

.m-l-25 {
	margin-left: 25px !important; }

.p-l-25 {
	padding-left: 25px !important; }

.m-r-25 {
	margin-right: 25px !important; }

.p-r-25 {
	padding-right: 25px !important; }

.m-t-30 {
	margin-top: 30px !important; }

.p-t-30 {
	padding-top: 30px !important; }

.m-b-30 {
	margin-bottom: 30px !important; }

.p-b-30 {
	padding-bottom: 30px !important; }

.m-l-30 {
	margin-left: 30px !important; }

.p-l-30 {
	padding-left: 30px !important; }

.m-r-30 {
	margin-right: 30px !important; }

.p-r-30 {
	padding-right: 30px !important; }

.m-t-35 {
	margin-top: 35px !important; }

.p-t-35 {
	padding-top: 35px !important; }

.m-b-35 {
	margin-bottom: 35px !important; }

.p-b-35 {
	padding-bottom: 35px !important; }

.m-l-35 {
	margin-left: 35px !important; }

.p-l-35 {
	padding-left: 35px !important; }

.m-r-35 {
	margin-right: 35px !important; }

.p-r-35 {
	padding-right: 35px !important; }

.m-t-40 {
	margin-top: 40px !important; }

.p-t-40 {
	padding-top: 40px !important; }

.m-b-40 {
	margin-bottom: 40px !important; }

.p-b-40 {
	padding-bottom: 40px !important; }

.m-l-40 {
	margin-left: 40px !important; }

.p-l-40 {
	padding-left: 40px !important; }

.m-r-40 {
	margin-right: 40px !important; }

.p-r-40 {
	padding-right: 40px !important; }

.m-t-45 {
	margin-top: 45px !important; }

.p-t-45 {
	padding-top: 45px !important; }

.m-b-45 {
	margin-bottom: 45px !important; }

.p-b-45 {
	padding-bottom: 45px !important; }

.m-l-45 {
	margin-left: 45px !important; }

.p-l-45 {
	padding-left: 45px !important; }

.m-r-45 {
	margin-right: 45px !important; }

.p-r-45 {
	padding-right: 45px !important; }

.m-t-50 {
	margin-top: 50px !important; }

.p-t-50 {
	padding-top: 50px !important; }

.m-b-50 {
	margin-bottom: 50px !important; }

.p-b-50 {
	padding-bottom: 50px !important; }

.m-l-50 {
	margin-left: 50px !important; }

.p-l-50 {
	padding-left: 50px !important; }

.m-r-50 {
	margin-right: 50px !important; }

.p-r-50 {
	padding-right: 50px !important; }

.m-t-60 {
	margin-top: 60px !important; }

.p-t-60 {
	padding-top: 60px !important; }

.m-b-60 {
	margin-bottom: 60px !important; }

.p-b-60 {
	padding-bottom: 60px !important; }

.m-l-60 {
	margin-left: 60px !important; }

.p-l-60 {
	padding-left: 60px !important; }

.m-r-60 {
	margin-right: 60px !important; }

.p-r-60 {
	padding-right: 60px !important; }

.m-t-70 {
	margin-top: 70px !important; }

.p-t-70 {
	padding-top: 70px !important; }

.m-b-70 {
	margin-bottom: 70px !important; }

.p-b-70 {
	padding-bottom: 70px !important; }

.m-l-70 {
	margin-left: 70px !important; }

.p-l-70 {
	padding-left: 70px !important; }

.m-r-70 {
	margin-right: 70px !important; }

.p-r-70 {
	padding-right: 70px !important; }

.m-t-80 {
	margin-top: 80px !important; }

.p-t-80 {
	padding-top: 80px !important; }

.m-b-80 {
	margin-bottom: 80px !important; }

.p-b-80 {
	padding-bottom: 80px !important; }

.m-l-80 {
	margin-left: 80px !important; }

.p-l-80 {
	padding-left: 80px !important; }

.m-r-80 {
	margin-right: 80px !important; }

.p-r-80 {
	padding-right: 80px !important; }

.m-t-90 {
	margin-top: 90px !important; }

.p-t-90 {
	padding-top: 90px !important; }

.m-b-90 {
	margin-bottom: 90px !important; }

.p-b-90 {
	padding-bottom: 90px !important; }

.m-l-90 {
	margin-left: 90px !important; }

.p-l-90 {
	padding-left: 90px !important; }

.m-r-90 {
	margin-right: 90px !important; }

.p-r-90 {
	padding-right: 90px !important; }

.m-t-100 {
	margin-top: 100px !important; }

.p-t-100 {
	padding-top: 100px !important; }

.m-b-100 {
	margin-bottom: 100px !important; }

.p-b-100 {
	padding-bottom: 100px !important; }

.m-l-100 {
	margin-left: 100px !important; }

.p-l-100 {
	padding-left: 100px !important; }

.m-r-100 {
	margin-right: 100px !important; }

.p-r-100 {
	padding-right: 100px !important; }
.flex-box {
	display: flex;
}
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.flex-4 {
	flex: 4;
}
.align-item-center {
	align-items: center;
}
.s-icon {
	width: 125px;
}
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1170px !important;
}
.media-responsive img {
    max-width: 100%;
}
/*# sourceMappingURL=_helpers.css.map */

.modal-title, .modal-body h4 {
	text-align: center
}
.container {
	position: relative;
	z-index: 999;
}
.no-margin {
	margin: 0!important;
}
.no-padding {
	padding: 0!important;
}
.z-index-none {
	z-index: 0
}
.home-abt {
	margin-top: -20px
}

.green-line-img {
    position: relative;
    padding-bottom: 10px;
    background: url(imgs/border.png) bottom center;
    background-repeat: no-repeat;
}
.border-green {
    position: relative;
    padding-bottom: 10px;
    background: url(imgs/border-3.png) bottom left;
    background-repeat: no-repeat;
}
/*Body Default*/

/*Shrink Navbar*/
.navbar-default {
	background-color: #004479;
}
.navbar-default .dropdown-backdrop {
	display: none;
}
.navbar-shrink {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	border-bottom: 2px solid #9BE03F;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.navbar-shrink .quote-now, .navbar-shrink .parallelogram-container {
	display: none
}
.navbar-shrink .navbar-left {
	float: right!important
}
.fixed-menu-logo, .fixed-menu-logo-2 {
	display: none;
	margin-top: 2px
}
.fixed-menu-logo, .fixed-menu-logo-2 img {
	width: 120px;
}
.navbar-shrink .fixed-menu-logo {
	display: block;
}
.navbar-shrink .fixed-menu-logo img {
	height: 57px;
}
.navbar-shrink .navbar-toggle i {
	color: #FFFFFF
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
	background-color: #e7e7e738;
}
.quote-now.quote-now-mobile {
	display: none;
}
/*Shrink Navbar*/

/*Top Header*/
.logo1 {
	width: 255px;
}
.top-header {
	padding: 20px 0
}
.top-menu ul {
	padding: 0;
	margin: 0;
	float: right
}
.top-menu li {
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
	font-size: 11px;
	letter-spacing: 0.6px;
	font-weight: 400;
    line-height: 12px;
    padding: 0 5px;
    border-right: 1px solid #373737;
}
.top-menu li:last-child {
    border-right: 0;
}
.top-menu li.saperator {
	padding: 0 7px
}
.top-search-div {
	margin-top: 7px
}
.top-social {
	float: right
}
.top-social ul {
	padding: 0;
	margin: 0;
	direction: ltr;
}
.top-social li {
	list-style: none;
	display: inline-block;
	margin-left: 5px
}
.top-social li .hvr-sweep-to-right {
	border: 1px solid #000000;
	border-left: 4px solid #8ECE50
}
.top-social li .hvr-sweep-to-right:hover i {
	color: #FFFFFF;
}
.top-social li i {
	padding: 0.7em 0.8em;
}
.top-social li .hvr-sweep-to-right:hover {
	border-color: #8ECE50;
	cursor: pointer
}
.top-search {
	float: right
}
.top-search input {
	height: 37px;
	border: 1px solid #000000;
	margin: 0
}
.top-search input[type="text"] {
	border-right: 0;
	margin-right: -4px;
	text-indent: 10px;
	font-style: italic;
	width: 222px;
	float: left;
}
.top-search input[type="submit"] {
	width: 33px;
	background: #8ECE50 url("imgs/search.png") no-repeat scroll center center / 50% auto;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.top-search input[type="submit"]:hover {
	width: 33px;
	background: #000 url("imgs/search.png") no-repeat scroll center center / 50% auto;
	position: relative
}
/*Top Header*/
.logo-section {
	direction: ltr;
}
.president-box {
	position: relative;
	margin-left: 10px;
}
.president-box img {
	max-width: 250px;
}
.president-box p {
	margin: 0;
	font-size: .8em;
}
.president-box .title {
	margin: 0;
	font-size: 1.5em;
}
.rtl .dropdown-menu>li>a {
	text-align: right;
}
/*Slider*/
header.carousel {
	height: 83%;
}
header.carousel-3 {
	height: inherit;
	background: none;
	z-index: 999
}
header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
	height: 100%;
}
header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.carousel-caption {
	font-family: 'Montserrat', sans-serif;
}
.carousel-caption h2 {
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.8px
}
.carousel-caption h2 span {
	font-weight: 700;
}
.carousel-caption h1 {
	font-weight: 800;
	font-size: 39px;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 20px;
	letter-spacing: 0.8px
}
.carousel-caption.center {
    text-align: center;
}
.carousel-caption.center h1, .carousel-caption.center h2, .carousel-caption.center h3, .carousel-caption.center h4, .carousel-caption.center p {
    text-align: center;
}
.carousel-caption.left {
    text-align: left;
}
.carousel-caption.left h1, .carousel-caption.left h2, .carousel-caption.left h3, .carousel-caption.left h4, .carousel-caption.left p {
    text-align: left;
}
.carousel-caption.right {
    text-align: right;
}
.carousel-caption.right h1, .carousel-caption.right h2, .carousel-caption.right h3, .carousel-caption.right h4, .carousel-caption.right p {
    text-align: right;
}
.extra-caption {
	position: absolute;
	bottom:10px;
	left:0;
	z-index:10;
}
.extra-caption .year {
	margin-right: 10px;
}
.extra-caption .year p {
	font-size: 5em;
	text-align: right;
	color: #8ECE50;
	/*color: #9DDE4C;*/
}

.extra-caption .extra-img-avatar {
	position: relative;
}
.extra-caption .extra-img-avatar .thumb {
	position: relative;
	text-align: center;
	color: #00ADFF;
}

.extra-caption .extra-img-avatar .thumb p {
	margin: 0;
}
.extra-caption .extra-img-avatar .thumb .title {
	font-weight:bold;
	margin: 0;
}
.extra-caption .extra-img-avatar .thumb img {
	position: relative;
	width: 80px;
	margin: 0 auto;
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade {
	background: #000000
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.bannerSlider .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 99;
}
.bannerSlider .owl-dots .owl-dot span {
	border: 1px solid #ffffff;
	background: none;
}
.bannerSlider .owl-dots .owl-dot.active span {
	border: 1px solid transparent;
	background: #000000;
}

/*Slider*/
/*Slider Bottom*/
.bottom-twt {
	background: #1c1d30;
	width: 100%;
	position: relative
}
.scroll-dwn {
	position: absolute;
	z-index: 9;
	width: 100%;
	text-align: center;
	bottom: -2px;
}
.scrollup {
	display: inline-block;
	cursor: pointer
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-moz-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-moz-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
.bottom-twt .carousel {
	width: 100%
}
.bottom-twt .carousel-inner {
}
.bottom-twt .carousel-inner {
	width: 85%
}
.bottom-twt .item {
}
.bottom-twt .carousel-caption {
	top: 10%;
	position: relative;
	width: 100%;
	left: 0;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.bottom-twt .carousel-caption::before {
	font-family: 'FontAwesome';
	content: '\f099';
	position: absolute;
	left: 0;
	font-size: 20px;
	color: #8ECE50
}
.bottom-twt .carousel-caption p {
	font-size: 13px;
	font-weight: 300
}
.bottom-twt .carousel-caption .lead {
	font-size: 16px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: 400
}
.orange-txt {
	color: #8ECE50
}
.bottom-twt .pos-relative {
	position: relative;
}
.arrow {
	position: absolute;
	bottom: 140px;
	width: 86px;
	height: 80px;
	margin-left: -42px;
	background-size: contain;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
/*Slider Bottom*/

/*dotted Pattern*/
.bannerSlider .carousel-hover {
	background: url(imgs/dots.png) repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0
}

.pattern {
	background: url(imgs/dots.png) repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0
}
/*dotted Pattern*/

/*Coming Soon Page*/
.comin-soon-carousel .carousel-caption h1 {
	font-size: 33px;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.2);
	display: inline-block;
	font-weight: 700;
	margin-top: 5px
}
.comin-soon-carousel .carousel-indicators {
	bottom: 0
}
.comin-soon-carousel .carousel-caption h1 span {
	font-weight: 300
}
.comin-soon-carousel .carousel-caption h2 span {
	font-weight: 800;
}
.comin-soon-carousel .carousel-caption h2 {
	font-size: 76px;
	font-weight: 300;
	margin-bottom: 0;
	letter-spacing: 1px
}
.comin-soon-carousel .carousel-3 .fill {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.coming-soon-logo {
	position: relative;
	top: 8%;
	z-index: 99999;
	width: 100%
}
.subscribe-coming {
	position: absolute;
	top: 46%;
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	z-index: 999
}
.subscribe-coming h3 {
	font-size: 25px;
	font-weight: 300
}
.subscribe-coming h3 span {
	font-weight: 700
}
/*Coming Soon Page*/

/*Subscribe*/
.subscribe-form input[type="email"] {
	display: inline-block;
	height: 50px;
	color: #FFFFFF;
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	text-indent: 15px;
	font-family: 'Open Sans', sans-serif;
	background: none;
	border-collapse: collapse;
	border: 1px solid #ffffff;
	width: 64.3%;
	margin-right: -4px;
}
.subscribe-form {
	width: 568px;
	margin: 0 auto
}
.subscribe-form input[type="button"] {
	display: inline-block;
	height: 52px;
	color: #000000;
	width: 35%;
	background: #9BE03F;
	border: 1px solid #9BE03F;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	top: -3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.subscribe-form input[type="button"]:hover {
	color: #ffffff;
	background: #3c5284;
	border: 1px solid #3c5284;
}
.btn-creative::before, .btn::after {
	background-color: #000;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	transition: height 0.3s ease 0s;
	width: 100%;
	z-index: -1;
	top: 0
}
.btn-creative {
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: #ffffff;
	line-height: 2.5rem;
	padding: 10px 25px;
	background-color: transparent;
}
.btn-creative:hover, .btn-creative:focus, .btn-creative:active, .btn-creative:active:hover, .btn-creative:active:focus {
	color: #ffffff;
	background-color: transparent;
	border-color: #fff;
}
.btn-creative:hover:before, .btn-creative:hover:after, .btn-creative:focus:before, .btn-creative:focus:after, .btn-creative:active:before, .btn-creative:active:after, .btn-creative:active:hover:before, .btn-creative:active:hover:after, .btn-creative:active:focus:before, .btn-creative:active:focus:after {
	background-color: #8ECE50;
	height: 102%;
}
.btn-creative.btn-inverted {
	color: #fff;
	border-color: #fff;
}
.btn-creative.btn-inverted:hover, .btn-creative.btn-inverted:focus, .btn-creative.btn-inverted:active, .btn-creative.btn-inverted:active:hover, .btn-creative.btn-inverted:active:focus {
	color: #000;
	border-color: #fff;
}
/*Subscribe*/

.news-letter-top a {
	color: #ffffff
}
.quote-now {
	position: relative;
	z-index: 9999;
	margin-top: 12px
}
.quote-now a {
	display: inline-block;
	text-align: center;
	border: 2px solid #dfdfdf;
	padding: 5px 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #efefef;
}
.quote-now a:hover, .quote-now a:focus {
	background: #000000;
	color: #FFFFFF
}
.hotspot {
	position: relative;
	top: 0px
}
.hotspot-subscribe {
	top: -140px
}
.content-section {
	padding: 25px 0;
}
.content-section h2 {
	font-weight: 700;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	padding-top: 10px;
}
.border-creative {
	margin-bottom: 25px;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
}
.fancy-txt {
	text-align: right;
	font-size: 43px;
	font-weight: 700;
	line-height: 52px;
}
.top-txt {
	font-weight: 300;
	font-size: 15px;
	text-align: justify;
	color: #808080;
	line-height: 27px
}
.light-bg {
	background: url(imgs/light-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.multifix-tab .tab-pane h3 {
	margin-top: 0;
	font-weight: 600;
	font-size: 18px;
}
.multifix-tab .tab-pane p {
	font-size: 15px;
	line-height: 27px;
	font-weight: 300;
	color: #6a6a6a;
    margin-bottom: 0;
}
.icon-listing {
	margin-top: 15px
}
.icon-listing li {
	display: block;
	margin-bottom: 5px;
}
.icon-cont {
	width: 18%;
	height: 63px;
	border: 1px solid #000;
	text-align: center;
	font-size: 25px;
	line-height: 57px;
	background: url(../imgs/orange-tick.png) no-repeat top right;
	float: left
}
.icon-txt {
	padding-left: 15px;
	float: right;
	width: 100%;
}
.icon-txt .lead {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400 !important;
	margin-bottom: 0px;
	color: #434343
}
.icon-txt p {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}
.top-tabs {
	padding-bottom: 45px
}
/*Projects*/
.projects-section {
	background: #00ADFF;
}
.projects-section .container {
	width: 1400px;
	padding-bottom: 25px
}
.projects-section h2 {
	color: #FFFFFF
}
.projects-section .col-xs-2, .projects-section .col-xs-4 {
	padding: 0 5px;
	height: 270px;
	position: relative;
	margin-bottom: 10px
}
.projects-section .col-xs-2 img, .projects-section .col-xs-4 img {
	border: 4px solid #ffffff;
}
.gamma-description {
	background: #8ECE50; /* Old browsers */
	background: -moz-linear-gradient(45deg, #8ECE50 0%, #ff9600 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #8ECE50 0%, #ff9600 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #8ECE50 0%, #ff9600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ECE50', endColorstr='#ff9600', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	top: 4px;
	left: 8px;
	bottom: 4px;
	right: 8px;
	text-align: center;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.projects-section .col-xs-2:hover .gamma-description, .projects-section .col-xs-4:hover .gamma-description {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=90);
	opacity: 0.90;
}
.gamma-description p {
	font-weight: 300;
	color: #000000;
	font-size: 13px
}
.gamma-description img {
	border: 0!important;
	margin-bottom: 12px
}
.gamma-description h3 {
	margin-top: 30%;
	display: inline-block;
	color: #FFFFFF;
	vertical-align: middle;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 5px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	font-size: 15px;
}
.projects-section .col-xs-4 .gamma-description h3 {
	margin-top: 15%
}
.full-link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999
}
.projects-section .pattern {
	display: none
}
.project-bottom {
	background: #00ADFF;
	color: #FFFFFF;
	text-align: center;
	padding: 0 0 10px;
	position: relative;
	z-index: 999;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700
}
.project-bottom a i {
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.project-bottom a {
	display: inline-block;
	background: #8ECE50;
	color: #FFFFFF;
	padding: 10px 15px;
	margin-left: 15px;
	font-size: 15px
}
.project-bottom a:hover {
	background: #FFFFFF;
	color: #000000
}
.project-bottom a:hover i {
	padding-left: 5px
}
/*Projects*/

/*Company Certification*/
.company-certification {
	position: relative;
	padding: 30px 0 40px
}
.right-services {
	position: absolute;
	right: 0;
	bottom: 20%
}
.left-services {
	position: absolute;
	left: 0;
	bottom: 0
}
.company-certification h3 {
	font-size: 25px;
	margin-bottom: 5px;
	margin-top: 0;
	font-weight: 600;
	text-align: left;
}
.company-certification p {
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	color: #838282;
	padding: 0 15px
}
/*subscribe*/
.subscribe-section {
	background: #FFFFFF;
}
.subscribe-section .container h2 {
	/* color: #FFFFFF; */
	margin-top: 0
}
.subscribe-section .container {
	/* color: #FFFFFF; */
	padding: 30px 0
}
.subscribe-section h4 {
	font-size: 24px;
	margin-bottom: 15px
}
.subscribe-section p {
	width: 65%;
	margin: 0 auto 15px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 300
}
.subscribe-section input[type="email"] {
	background: none;
	border: 1px solid #efefef;
	height: 40px;
	width: 403px;
	text-transform: uppercase;
	text-indent: 15px
}
.subscribe-section button {
	background-color: #8ECE50 !important;
	border: 0 none;
	height: 40px;
	width: 180px;
	font-size: 15px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-left: -2px;
	font-weight: 700;
	position: relative;
	top: -1px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.subscribe-section button:hover {
	background: #436383;
	color: #FFFFFF;
}
/*Staff*/
.about-section {
	padding-top: 30px
}
/*Staff*/
.staff-section {
	padding-bottom: 65px
}
.staff-desc {
	background: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	padding: 120px 0 0;
	margin-top: 95px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.staff-section .item:hover .staff-desc {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.staff-desc h5 {
	font-size: 18px;
	color: #9BE03F;
	line-height: 21px;
	font-weight: 700;
	margin: 0
}
.staff-desc p {
	letter-spacing: 0.4px;
	font-size: 12px;
	text-transform: uppercase;
	color: #4a4a4a;
	margin-bottom: 20px;
	margin-top: 5px
}
.bottom-staff {
	background: #9BE03F;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 0
}
.bottom-staff li {
	list-style: none;
	display: inline-block
}
.bottom-staff a {
	display: inline-block;
	text-align: center;
	width: 30px;
	color: #fff;
	border: 2px solid #fff;
	line-height: 28px;
	border-radius: 30px;
}
.bottom-staff a:hover {
	background: #436383;
	color: #ffffff;
	border: 2px solid #436383;
}
.staff-section .item {
	padding: 0 5px; position:relative
}
.staff-section .owl-theme .owl-nav {
	position: absolute;

	top:45%;
	width: 100%;
}
.staff-section .owl-prev {
	float: left;
	position: absolute!important;
	left: -10px
}
.staff-section .owl-next {
	float: right;
	position: absolute!important;
	right: -10px
}
/*Staff*/

/*Counter*/
.counter-section {
	background: url(imgs/counter-bg.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding-top: 40px
}
.numscroller {
	font-size: 34px;
	color: #fff;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 3px;
}
.counter-section .counter-div {
}
.stats-2-img {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	display: inline-block;
	height: 120px;
	line-height: 135px;
	margin-bottom: 10px;
	text-align: center;
	width: 120px;
}
.counter-section i {
	color: #8ECE50;
	font-size: 3em;
}
.counter-section p {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0;
	letter-spacing: 0.5px
}
.counter-section .container {
	color: #FFFFFF!important;
	padding: 0 0 20px
}
.counter-section .container h2 {
	color: #FFFFFF!important;
}
/*Counter*/

/*News*/
.news-section {
	padding-bottom: 60px
}
.news-section .owl-theme .owl-nav {
	position: absolute;
	top: -65px;
	right: 0
}
.news-detls {
	background: #002e5a;
	padding: 15px 0
}
.news-detls li {
	display: inline-block;
	padding: 0;
	width: auto;
	font-weight: 300;
	font-size: 12px;
	margin: 0 6px
}
.overlay-div {
	position: absolute;
	width: 100%;
	height: 86%;
	left: 0;
	top: 0%;
	z-index: 9;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-align: center;
}
.overlay-div span {
	display: inline-block;
	color: #ffffff;
	font-size: 25px;
	width: 80px;
	background: rgba(0, 0, 0, 0.7);
	height: 80px;
	text-align: center;
	border-radius: 70px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.overlay-div i {
	position: relative;
	top: 22px
}
.linkss {
	margin-top: 30%
}
.overlay-div a {
}
.news-section .item:hover .overlay-div {
	top: 0;
	opacity: 0.7;
}
.news-section .item:hover .links {
	margin-top: 32%
}
.news-section .item .grid {
	background: #ffffff
}
.news-section .item img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.5s ease;
}
.news-section .item:hover img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.4;
}
/*News*/

/*footer-logo*/
.footer-logos {
	background: #fff;
	text-align: center
}
.footer-logos .owl-nav {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 20%;
}
.footer-logos {
	overflow: hidden
}
.footer-logos .owl-prev {
	border: 1px solid #7b7b7b;
	border-radius: 20px;
	color: #fff;
	float: left;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	height: 35px;
	width: 35px;
}
.footer-logos .owl-next {
	border: 1px solid #7b7b7b;
	border-radius: 20px;
	color: #fff;
	float: right;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	height: 35px;
	width: 35px;
}
.footer-logos .owl-item img {
	width: auto;
	display: inline-block;
}
.footer-logos {
	padding-bottom: 60px
}
.footer-logos .owl-prev, .footer-logos .owl-next {
	background: #FBBC05;
	border: 0 none
}
.footer-logos .owl-prev:hover, .footer-logos .owl-next:hover {
	background: #000000
}
.footer-logos .owl-prev::after {
	color: #ffffff;
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 2px;
}
.footer-logos .owl-next::after {
	color: #ffffff;
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 20px;
	right: 12px;
	position: absolute;
	top: 2px;
}
.owl-prev:hover::after, .owl-next:hover::after {
	color: #FFFFFF
}
.clients-para {
	margin-bottom: 35px;
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	color: #767676
}
.footer-logos .border-creative {
	margin-bottom: 10px
}
/*testimonial*/
.testimonial-section {
	background: url(imgs/testimonial.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 60px 0;
	color: #ffffff
}
.testimonial-section .fa {
	color: #FFFFFF
}
.testi-heading h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #ffffff;
	display: inline-block;
	padding: 12px 20px;
	font-size: 20px;
	margin-top: 0
}
.testimonial-section .owl-carousel .item img {
    height: 100px;
    width: 100px;
    margin:0 auto;
    border: 6px solid rgba(255, 255, 255, 0.2);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.testimonial-section .owl-carousel .item .carousel-caption {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    width: 75%;
    margin: 10px auto 0;
    font-family: "Open Sans", Sans-serif;
}
.testimonial-section .owl-carousel .owl-nav{
    position: absolute;
    height: 1px;
    top: 40%;
    width: 100%;
}
.testimonial-section .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    background: #9BE03F;
    border-color: #9BE03F;
}
.testimonial-section .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right:0;
    background: #9BE03F;
    border-color: #9BE03F;
}
.img-and-name {
	position: relative;
	display: inline-block;
	margin-top: 15px
}
.quote-icon {
	position: absolute
}
.testimonial-section .img-circle {
	border: 6px solid rgba(255, 255, 255, 0.2)
}
.testimonial-section blockquote {
	margin: 0;
	padding: 0
}
.testimonial-section .carousel-control.left {
	left: 0
}
.testimonial-section .carousel-control {
	border: 1px solid rgba(0, 0, 0, 0);
	width: 35px;
	background: rgba(255, 255, 255, 0.5);
	height: 35px;
	color: #000000;
	font-size: 20px;
	margin-top: 5%
}
.testimonial-section .carousel-control:hover {
	background: #9BE03F;
}
.testimonial-section .carousel-control i {
	top: 2px;
	color: #000000;
	position: relative
}
.testimonial-section .carousel-control:hover i {
	color: #FFFFFF
}
.quote-para {
	font-style: italic;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	width: 75%;
	margin: 10px auto 0
}
/*footer*/
.newsletter {
	top: -45px;
	position: relative;
	z-index: 99;
}
.newsletter .col-xs-2 {
	width: 64px;
	padding: 0;
	border: 2px solid #000;
	height: 64px;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	float: left
}
.newsletter .col-xs-2 i {
	position: relative;
	top: 8px
}
.newsletter .col-xs-2 i.flaticon-technology {
	top: 8px
}
.newsletter [class^="flaticon-"]::before, .newsletter [class*=" flaticon-"]::before, .newsletter [class^="flaticon-"]::after, .newsletter [class*=" flaticon-"]::after {
	font-size: 30px
}
.footer .footer-contact-section, .contact-box {
	background: #8ECE50;
	padding: 20px 30px;
	color: #000000;
	border-radius: 11px;
    top: -40px;
}
.contact-box {
    top: -60px;
}
.footer .footer-contact-section a, .contact-box a {
	color: #000000
}
.footer .footer-contact-section a:hover, .contact-box a:hover {
	text-decoration: underline
}
.footer .footer-contact-section h5 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
    color: #000000
}
.footer .footer-contact-section p, .contact-box p {
	line-height: 21px;
	font-size: 13px;
	margin-bottom: 0;
    color: #000000
}
.footer {
	background: url(imgs/footer.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0px 0 0;
	color: #ffffff;
	margin-top: 80px
}
.footer-container {
	overflow-x: hidden
}
.foot-social li {
	display: inline-block;
	margin-right: 5px;
	font-size: 20px
}
.foot-social li a {
	color: #8ECE50
}
.foot-social li a i {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.foot-social li a:hover i {
	color: #ffffff
}
.foot-content p {
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
	padding-right: 20px
}
.rtl .foot-content p { padding-right: 0; }
.foot-logo {
	height: 65px;
	position: relative;
}
.foot-logo img {
	width: 60%;
}
.foot-logo h3 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 0;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 17px
}
.quick-links {
	padding-left: 20px!important
}
.quick-links li {
	list-style: none;
	line-height: 23px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 5px
}
.quick-links li a {
	color: #FFFFFF
}
.quick-links li::before {
	content: "\f105";
	font-family: "FontAwesome";
	color: #FFFFFF;
	position: absolute;
	left: 0
}
.insta-pics {
	border-radius: 10px;
	height: 80px;
	overflow: hidden;
	padding: 0 3px;
	margin-bottom: 6px
}
.subscribe-section  .subscribe-form-holder {
    width: 60%;
    margin: 0 auto;
}
.footer-subscribe input[type="email"] {
	width: 100%;
	background: none;
	border: 1px solid #848484;
	height: 41px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.2px;
	margin-bottom: 10px
}
.footer-subscribe input[type="button"], .footer-subscribe input[type="submit"] {
	width: 100%;
	background: none;
	border: 1px solid #9BE03F;
	color: #9BE03F;
	font-weight: 700;
	height: 41px;
	margin-bottom: 10px;
	letter-spacing: 0.4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.footer-subscribe input[type="button"]:hover, .footer-subscribe input[type="submit"]:hover {
	background: #9BE03F;
	color: #000
}
.footer-subscribe p {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.2px;
}
.copyright {
	background: #050715;
	color: #FFFFFF;
	padding: 15px 0;
	margin-top: 0;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase
}
.copyright p {
    margin: 0;
}
.copyright a {
	color: #8ECE50
}
/*________________Preloader_______________ */
#preloader {
	background: #ffffff url(imgs/1.gif) no-repeat center center;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 9999999;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	overflow-y: hidden
}
.loading {
	overflow: hidden
}
#preloader > img {
	display: none
}
.parallelogram-container {
	height: 60px;
	overflow: hidden;
	width: 100%;
	position: absolute
}

#topcontrol {
	z-index: 9999999
}
.multifix-tab .tab-list {
    min-width: 200px;
}
.multifix-tab .nav-tabs {
    margin-right: 15px;
}
.multifix-tab .nav-tabs li a {
	line-height: 70px;
	position: relative;
	padding: 0 15px;
	font-weight: 700
}
.number-div .icon:before {
	line-height: 60px;
	font-weight: normal;
    font-size: 56px;
}
.number-div .icon {
	position: relative;
	top: 5px;
    color: #8ECE50;
}
.number-div {
	margin-right: 15px;
	direction: ltr;
}
.rtl div.wpcf7 { direction: rtl; }
.contact-box .elementor-icon-box-title { direction: ltr; }
.rtl .foot-logo { text-align: right;  }
.rtl .footer .elementor-social-icons-wrapper { text-align: right; }
.rtl .footer .fa-chevron-right { 
	transform: rotate(-180deg); 
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}
.rtl .foot-content p { padding-right: 0; }
.multifix-tab .nav-tabs>li:hover i, .multifix-tab .nav-tabs > li:focus .tab-txt, .multifix-tab .nav-tabs > li:hover .tab-txt, .multifix-tab .nav-tabs>li.active i, .multifix-tab .nav-tabs>li.active {
	color: #ffffff
}
.multifix-tab .nav-tabs>li i {
	color: #8ECE50
}
.multifix-tab .nav-tabs>li a .tab-txt {
	color: #8ECE50
}
.multifix-tab .nav-tabs>li.active a .tab-txt {
    color: #ffffff;
}
.number-div {
	width: 42px;
	display: inline-block
}
.multifix-tab .nav-tabs > li > a:focus, .multifix-tab .nav-tabs > li > a:hover {
	background: #8ECE50
}
.inner-header {
	/*background: url(imgs/first_banner.png) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 350px;
	display: table;
	width: 100%;
	position: relative
}
.inner-header .container {
	z-index: 9
}
.display-cell {
	display: table-cell;
	vertical-align: middle;
}
.home-builder-page-title {
	position: relative;
	z-index: 2;
}
.pos-relative {
	position: relative
}
.home-builder-page-title h1 {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 60px;
	margin: 0;
	line-height: 55px;
	font-weight: 700;
	text-transform: uppercase;
}
.home-builder-page-title h1.titlecolor {
	color: #9BE03F;
	margin: 0;
	display: block;
	padding-bottom: 15px;
}
/*About Page*/
.img-container img {
	margin-bottom: 10px;
}
.img-container {
    width: 80%;
    margin: 0 auto;
}
.img-container p {
	line-height: 30px;
	font-weight: 300;
	color: #4b4b4b
}
.img-container ul li {
    line-height: 30px;
    font-weight: 300;
    color: #4b4b4b;
}

.about-sec-time {
	display: inline-table;
	height: 163px;
	width: 100%;
	font-weight: 700;
}
.about-sec-time li {
	margin: 0 0.5px; /* Permalink - use to edit and share this gradient: /#4f4f4f+1,000000+100 */
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(45deg, #4f4f4f 1%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4f4f4f 1%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4f4f4f 1%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	line-height: 29px;
	color: #ffffff;
	width: 24%;
}
.about-sec-time li:first-child {
	background: #8ECE50; /* Old browsers */
	background: -moz-linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #8ECE50 0%, #8ECE50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ECE50', endColorstr='#8ECE50', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	line-height: 20px!important;
	color: #000;
	font-size: 19px;
	text-transform: uppercase
}
.about-sec-time li i {
	margin-bottom: 5px;
	font-size: 20px;
    display: block;
}
.two-imgs {
	margin-top: 20px;
}
.no-padding-right {
	padding-right: 0
}
.no-padding-left {
	padding-left: 0
}
.about-what-we-do {
	background: url(imgs/about-2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	line-height: 26px;
	padding-bottom: 45px
}
.about-what-we-do .container h2 {
	color: #FFFFFF
}
.about-what-we-do .border-creative {
	margin-bottom: 10px
}
.services-icons h4 {
	font-weight: 700;
	margin-bottom: 5px
}
.services-icons img {
	position: relative;
	top: 5px
}
.services-icons {
	background: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 5px;
	border-left: 4px solid #febd00;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-left: 10px
}
.services-icons p {
	font-size: 13px;
	line-height: 23px;
    margin: 0;
}
.footer-logos .owl-carousel .owl-stage-outer {
}
.footer-logos .owl-prev {
	position: relative;
	left:0
}
.footer-logos .owl-next {
	position: relative;
	right: 0
}
.newsletter .col-xs-6.address {
	width: 46%;
}
/*services-main*/
.view-detail {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-bottom: 30px;
	color: #8ECE50;
	background: #f0f0f0;
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: left;
	font-weight: 600
}
.view-detail i {
	margin-left: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/*Services*/
.services-main .col-md-4 h2 {
	font-size: 24px
}
.services-main .col-md-4:hover .view-detail {
	background: #8ECE50;
	color: #FFFFFF
}
.services-main .col-md-4:hover .view-detail i {
	float: right
}
.row-2 {
	background: #134976; /* Old browsers */
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: -moz-linear-gradient(left, #002e5b 0%, #002e5b 50%, #fafafa 50%, #fafafa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #002e5b 0%, #002e5b 50%, #fafafa 50%, #fafafa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #002e5b 0%, #002e5b 50%, #fafafa 50%, #fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e5b', endColorstr='#fafafa', GradientType=1 ); /* IE6-9 */
	color: #FFFFFF
}
.bg-blue {
	background: #002e5b
}
.footer-third, .footer-third a {
	color: #FFFFFF
}
.footer-third .row-2 > div {
	display: table-cell;
	float: none;
	vertical-align: top;
}
.info {
	font-size: 14px;
	line-height: 1.8;
	margin-right: 0;
	padding: 50px;
}
.page-subheader {
	margin: 0 0 30px;
}
.sm-block {
	margin-bottom: 30px;
}
.page-subheader h1, .page-subheader h2 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.border {
	height: 3px;
	width: 30px;
	background: #f7b432;
	margin: 15px 0
}
.footer-buttons .btn {
	border: 1px solid #ffffff;
	font-weight: 300;
	margin-right: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer-buttons .btn:hover {
	background: #ffffff;
	color: #134976
}
.address-3 p {
	font-size: 13px;
	line-height: 21px;
	margin: 0;
}
.social-footer a {
	margin-right: 10px;
	font-size: 24px;
	display: inline-block;
}
.form-sec .form-control {
	margin: 0 0 15px 0;
	display: block;
	width: 100%;
}
.bg-dark .input, .bg-dark .input:focus, .bg-dark .textarea, .bg-dark .textarea:focus, .bg-dark .select, .bg-dark .select:focus {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #e6e6e6;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	color: #808185;
	font-size: 12px;
	font-weight: 400;
	padding: 7px 15px;
}
.row-2 .page-subheader {
	margin: 0
}
.row-2 form {
	padding-top: 30px
}
.bg-dark, .bg-dark .page-subheader h1, .bg-dark .page-subheader h2 {
	color: #000000
}
.bg-dark .btn-clear {
	color: #ffffff;
	background: #8ECE50;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	padding: 7px 20px;
	border-radius: 0;
	border-bottom: 3px solid #ef7001;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.services-main {
	padding-bottom: 0
}
.bg-dark .blue-btn {
	background: #002e5a;
	color: #FFFFFF;
	border-bottom: 3px solid #000000;
}
.bg-dark .btn-clear:hover, .bg-dark .btn-clear:focus {
	background: #000;
	color: #fff
}
.bg-dark .input, .bg-dark .input:focus {
	height: 35px;
}
.mobile-effect a i {
	font-size: 20px
}
.mobile-effect {
	margin-bottom: 10px
}
.footer-content {
	margin: 20px auto 40px
}
.footer-content h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px
}
.footer-content p {
	color: #333333;
	font-size: 14px;
	margin-bottom: 20px;
}
.round-border {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #df9937;
	display: inline-block;
	text-align: center
}
.round-border i {
	color: #df9937;
	position: relative;
	top: 7px
}
.row-2 [class^="flaticon-"]::before, [class*=" flaticon-"]::before, .row-2 [class^="flaticon-"]::after, .row-2 [class*=" flaticon-"]::after {
	font-size: 16px!important
}
.row-2 {
	margin-bottom: 0;
	margin-top: 20px;
}
.call-on {
	padding: 30px 0
}
.call-on p {
	line-height: 20px;
	font-size: 14px
}
.services-listings li {
	display: block;
}
.services-listings li a {
	display: block
}
.tabs-left-services .nav-tabs {
	border: 0 none
}
.nav-tabs > li.active > a {
	border-bottom: 1px solid #8ECE50;
    background-color: #8ECE50;
}
.tabs-left-services .nav-tabs li a {
	line-height: 30px
}
.tabs-left-services .nav-tabs > li i, .tabs-left-services .nav-tabs > li a .tab-txt {
	color: #000000;
}
.tabs-left-services .nav-tabs > li > a .tab-txt {
	font-size: 14px
}
.tabs-left-services .nav-tabs > li.active > a, .tabs-left-services .nav-tabs > li.active > a:focus, .tabs-left-services .nav-tabs > li.active > a:hover {
	background: none;
}
.tabs-left-services .nav-tabs > li.active > a .tab-txt, .tabs-left-services .nav-tabs > li.active > a:focus .tab-txt, .tabs-left-services .nav-tabs > li.active > a:hover .tab-txt {
	background: none;
	color: #8ECE50
}
.tabs-left-services .nav-tabs > li:hover i, .tabs-left-services .nav-tabs > li:focus .tab-txt, .tabs-left-services .nav-tabs > li:hover .tab-txt, .tabs-left-services .nav-tabs > li.active i {
	color: #8ECE50;
	background: none
}
.tabs-left-services .nav-tabs > li > a:focus, .tabs-left-services .nav-tabs > li > a:hover {
	background: none;
	border-bottom: 1px solid #8ECE50
}
/*Brochures*/
.brochures {
	position: relative;
	overflow: hidden;
	padding: 19px;
	border: 1px solid #cccccc;
	margin-top: 30px
}
.brochures h4 {
	font-weight: 700;
	margin-top: 0
}
.brochures p {
	margin: 11px 0;
	font-weight: 300;
	line-height: 25px;
	color: #333333
}
.brochures-lists {
	padding: 0;
	margin: 0
}
.brochures-lists li {
	display: block;
	line-height: 43px;
	height: 45px;
	border-radius: 5px;
	margin: 5px 0 10px;
	background: #002e5b;
	position: relative;
}
.brochures-lists li:last-child {
	margin-bottom: 0px
}
.brochures-lists li a {
	color: #fff;
	padding: 0 15px;
	display: block;
	font-size: 16px;
	font-weight: 700;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.brochures-lists li a span {
	display: inline-block;
	font-size: 16px;
	float: right;
	height: 28px;
	margin-left: 9px;
	margin-right: 0;
	padding: 10px 0;
	position: relative;
	font-size: 17px;
	line-height: 25px;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.brochures-lists li a:hover {
	background: #ffcc33;
	color: #000000;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.brochures-lists li a i:before {
	font-size: 18px;
	padding-right: 15px;
	position: absolute;
	right: 0;
	top: 18px;
	color: #ffffff;
}
.brochures-lists li {
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.brochures i.icon {
	position: absolute;
	right: 0;
	bottom: -10px;
	font-size: 60px;
	color: #f7f7f7;
}
.services-details-content h3 {
	font-size: 19px;
}
.margin-30 {
	margin-bottom: 30px
}
.margin-20 {
	margin-bottom: 20px
}
.margin-10 {
	margin-bottom: 10px
}
.services-details-content {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.services-details-content li {
	line-height: 30px;
	list-style: none;
	color: #333333;
	position: relative;
	padding-left: 20px
}
.services-details-content li:before {
	content: '\f00c ';
	position: absolute;
	left: 0;
	color: #002e5b;
	font-family: 'FontAwesome';
}
.accordion-box {
	margin-top: 20px
}
.panel-default > .panel-heading {
	color: #fff;
	margin: 0 0;
}
.panel > .panel-heading {
	position: relative;
	padding: 10px 12px;
	background: #002e5b
}
.panel-title > a.collapsed:after {
	content: '+';
	position: absolute;
	line-height: 18px;
	left: 10px;
	font-size: 20px
}
.panel-title > a:after {
	content: '-';
	position: absolute;
	line-height: 18px;
	left: 10px;
	font-size: 20px
}
.panel-body p {
	line-height: 24px;
	font-weight: 300;
	color: #333333;
	margin: 0
}
.panel-title a {
	display: block;
	width: 95%;
	font-weight: 700;
	font-size: 15px;
	padding-left: 5%
}
.service-4-col {
	padding: 60px 0 40px 0
}
.service-4-col h2 {
	margin: 15px 0;
	padding: 0;
	font-size: 22px;
}
.home-block h3 {
	margin: 10px 0 5px;
	padding: 0;
	font-size: 20px;
	color: #ffcc33
}
.link-text {
	float: right
}
.link-text {
	color: #ffcc33
}
.link-text:hover {
	color: #fff
}
html, body {
	height: 100%;
}
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.video-wrapper {
	background: url(imgs/projects-bg.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 120px 0;
	margin-top: 50px
}
.player-container {
	color: #FFFFFF;
	position: relative;
	z-index: 999
}
.player-container span {
	display: inline-block;
	height: 78px;
	width: 78px;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.2)
}
.player-container span i {
	font-size: 30px;
	position: relative;
	top: 25px;
	left: 3px;
}
.player-container a {
	color: #FFFFFF
}
.player-container h3 {
	color: #FFFFFF!important;
	font-weight: 700;
	font-size: 31px;
}
.headl h2 {
	text-align: left;
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 500;
	padding: 0;
	margin-top: 10px;
}
.tags {
	text-align: left;
}
.tags a {
	color: #000000;
	font-weight: 300;
	font-style: italic;
	font-size: 13px;
}
.tags a:hover {
	color: #8ECE50
}
.project-details {
	font-weight: 300;
	color: #333333;
	line-height: 25px
}
.project-details .orange-txt {
	font-weight: 700;
	display: inline-block;
	min-width: 120px
}
.project-details li {
	list-style: none;
	border-bottom: 1px solid #eaeaea;
	line-height: 55px
}
.project-details li:last-child {
	border: 0 none;
	margin-top: 5px
}
.project-details li a .fa {
	width: 35px;
	height: 35px;
	text-align: center;
	color: #656565;
	font-size: 15px;
	background: #f0f0f0;
	border-radius: 50%;
	line-height: 35px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.project-details li a:hover .fa {
	color: #FFFFFF
}
.project-details li a:hover .fa-facebook {
	background: #3366CC
}
.project-details li a:hover .fa-twitter {
	background: #00CCFF
}
.project-details li a:hover .fa-google-plus {
	background: #CC3300
}
.project-details li a:hover .fa-linkedin {
	background: #3366CC
}
.services-main h2, .about-page-section h2 {
	margin-top: 0
}
.portfolio h2 {
	margin-top: 10px
}
/*Blog*/
.blog-bg {
	background: #f4f4f4;
}
.blog-left {
}
.blog-in {
	padding: 25px;
	background: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.blog-in h1 {
	font-size: 26px;
	color: #8ECE50;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0
}
.comm-date {
	margin: 0 0 10px 0;
	padding: 0
}
.comm-date ul {
	margin: 0;
	padding: 0;
}
.comm-date li {
	margin: 0 5PX;
	padding: 0;
	display: inline-block;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 300
}
.comm-date li span {
	color: #f26100
}
.comm-date li a {
	color: #000000;
}
.blog-text {
	margin: 10px 0 15px 0
}
.img-cont {
	min-height: 430px;
	max-height: 430px;
	overflow: hidden
}
.blog-text p {
	font-size: 15px;
	font-weight: 300;
	color: #444;
	line-height: 30px;
}
.share2 {
	line-height: 40px;
	color: #8ECE50;
	text-transform: uppercase
}
.share2 h4 {
	float: left;
	margin: 12px 10px 0 0;
	font-size: 13px;
	font-weight: 600
}
.share2 a {
	margin: 0 0 0 10px;
	padding: 0;
	color: #8ECE50;
}
.share2 .fa {
	font-size: 15px;
}
.share2 a:hover {
	color: #000000
}
.blog-right {
	padding: 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
	background: #fff
}
.blog-right h1 {
	font-size: 17px;
	color: #32070c;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 13px 0;
}
.blog-right h4 {
	font-size: 12px;
	color: #343434;
	line-height: 18px;
	margin-bottom: 0;
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
}
.blog-right .input-group {
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.blog-right .input-group button, .blog-right .input-group input {
	border-radius: 0;
	background: #eeeeee;
	border: 0 none;
	height: 40px;
	text-transform: uppercase
}
.blog-right .input-group input {
	font-size: 12px
}
.blog-right p {
	font-size: 12px;
	color: #b5b5b5;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 0.4px
}
.cat-list {
	margin: -15px 0 0 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.cat-list li {
	font-size: 13px;
	color: #8e8e8e;
	text-align: left;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 50px;
	list-style: none;
	position: relative
}
.cat-list li a {
	color: #8e8e8e;
	border-bottom: dotted #dddddd 1px;
	width: 100%;
	padding-left: 20px;
	display: inline-block
}
.cat-list li a:before {
	content: "\f101";
	color: #8ECE50;
	font-family: "FontAwesome";
	position: absolute;
	left: 0
}
.cat-list li a:hover {
	color: #8ECE50;
}
.right-logo {
	border: double 3px #000;
	padding: 20px
}
.continue i {
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.continue {
	display: inline-block;
	background: #8ECE50;
	color: #FFFFFF;
	border-bottom: 3px solid #ff7200;
	padding: 10px 15px;
	margin-left: 0;
	font-size:13px -webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.continue:hover {
	background: #00ADFF;
	border-bottom: 3px solid #000000;
	color: #ffffff
}
.continue:hover i {
	padding-left: 5px
}
.blog-right a:hover h4 {
	color: #FF6600
}
.faq-section .col-md-8, .blog-bg .col-md-8 {
	width: 68.667%
}
.faq-section .col-md-4, .blog-bg .col-md-4 {
	width: 31.333%
}
.blog-in {
	margin-bottom: 30px
}
.border-orange {
	height: 2px;
	width: 48px;
	background: #8ECE50;
	margin: 10px 0 20px
}
.tag-list li {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 6px;
}
.tag-list li a {
	display: inline-block;
	background: #8ECE50;
	padding: 3px 10px;
	border-radius: 3px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
}
.tag-list li a:hover {
	background: #00ADFF
}
.right-tags {
	border: 2px solid #000;
	padding: 5px 10px;
	display: inline-block;
	margin-right: 5px;
	font-size: 11px;
	font-weight: 700;
	margin-top: 10px
}
.right-tags:hover {
	background: #8ECE50;
	color: #FFFFFF;
	border: 2px solid #8ECE50
}
.pro-hr {
	border-color: #dddddd;
	margin: 30px 0
}
.dp-container {
	width: 15%;
	float: left
}
.dp-container img {
	width: 89px;
	border-radius: 50%;
}
.main-comment {
	width: 85%;
	float: left;
}
.main-comment h4 {
	font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.main-comment span {
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
	font-weight: 300;
	color: #7e7e7e;
	margin-left: 10px
}
.main-comment p {
	font-weight: 300;
	line-height: 22px;
	color: #666666
}
.main-comment button {
	background: #8ECE50;
	border-radius: 5px;
	border: 0 none;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	padding: 8px 20px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.main-comment button:hover {
	background: #00ADFF
}
.reply-form {
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 25px;
	background: rgba(0, 0, 0, 0.05)
}
.reply-form h3 {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}
.reply-form input[type="text"] {
	width: 100%;
	height: 40px;
	text-indent: 35px;
	background: url(imgs/user.png) #FFFFFF no-repeat 15px center;
	border: 1px solid #ccc
}
.no-background {
	background: 0 none
}
.no-border {
	border: 0 none
}
.reply-form input[type="email"] {
	width: 100%;
	height: 40px;
	text-indent: 35px;
	background: url(imgs/mail.png) #FFFFFF no-repeat 15px center;
	border: 1px solid #ccc
}
.reply-form textarea {
	width: 100%;
	height: 140px;
	text-indent: 25px;
	background: url(imgs/message.png) #FFFFFF no-repeat 15px 15px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 15px
}
.reply-form .continue {
	padding: 7px 15px
}
/*Blog*/

/*Contact*/
.top-contact {
	font-size: 13px;
	line-height: 18px;
}
.icon-contact {
	border: 2px solid #8ECE50;
	background: none;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	width: 84px;
	height: 85px
}
.icon-contact i {
	position: relative;
	top: 50%;
	color: #8ECE50;
	line-height: 0px
}
.top-contact p {
	margin: 10px 0
}
.top-contact-main {
	margin-bottom: 45px
}
.form-section {
	padding: 45px 0
}
.form-section label {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	margin-top: 18px;
}
.form-section input[type="text"], .form-section input[type="email"], .form-section input[type="phone"], .form-section select {
	width: 97%;
	height: 50px;
	text-indent: 10px;
	background: rgba(255, 255, 255, 0.8)
}
.form-section textarea {
	width: 99%;
	height: 240px;
	padding: 10px;
	margin-bottom: 20px
}
.form-section .col-xs-12 {
	margin-top: 35px
}
.form-section .submit {
	width: 160px;
	margin: 0 2px;
	padding: 7px 0;
	background: #efa901;
	border: 0 none;
	border-bottom: 3px solid #ef7001;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase
}
.form-section .reset {
	width: 160px;
	margin: 0 2px;
	padding: 7px 0;
	background: #002e5a;
	border: 0 none;
	border-bottom: 3px solid #000000;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase
}
.form-section .submit:hover, .form-section .reset:hover {
	background: #000000
}
.quote-form {
	width: 80%;
	margin: 0 auto;
}
.font-second-head {
	font-size: 21px
}
#mapkit-7453 {
	height: 500px;
	width: 100%;
}
.top-contact i {
	font-size: 35px
}
.top-contact .fa-mobile {
	font-size: 55px
}
.top-contact .col-md-4:hover .icon-contact {
	background: #8ECE50;
}
.top-contact .col-md-4:hover .icon-contact i {
	color: #FFFFFF
}
.submit {
	margin: 0 2px;
	padding: 7px 10px;
	background: #efa901;
	border: 0 none;
	border-bottom: 3px solid #ef7001;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase
}
.reset {
	font-size: 16px;
	margin: 0 2px;
	padding: 7px 10px;
	background: #002e5a;
	border: 0 none;
	border-bottom: 3px solid #000000;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase
}
.bottom-links {
	margin: 35px 0
}
/*Contact*/

.counter-area {
	background: rgba(0, 0, 0, 0.5)
}
.more-questions {
	padding-top: 20px;
}
.more-questions li {
	list-style: none;
	border-bottom: 1px dotted #ffffff;
	background: url(imgs/arrow.png) no-repeat 5px center;
	padding-left: 20px
}
.more-questions li:hover {
	background: url(imgs/arrow-h.png) no-repeat 5px center;
}
.more-questions li:hover a {
	color: #E6B807
}
.more-questions a {
	color: #FFFFFF;
	line-height: 45px;
}
.description {
	color: #777777
}
.bg-blue .description {
	color: #ffffff
}
/*Faq*/
.faq-box {
	margin-top: 0
}
.faq-box .panel-body {
	background: #eeeeee;
	padding: 25px
}
.faq-box .panel > .panel-heading {
	padding: 0
}
.faq-box .panel-title {
	height: 45px;
	padding-top: 12px
}
.faq-box .panel-title > a::after {
	left: 0;
	width: 35px;
	padding: 10px 0 0 0;
	height: 45px;
	text-align: center;
	background: #8ECE50;
	color: #000000;
	top: 0
}
.faq-box .panel-title a {
	padding-left: 45px
}
.faq-section .blog-right {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
/*Faq*/

/*Support*/
.support {
	background: #fff4db url(imgs/support.png) 92% 20px no-repeat;
	border: 1px solid #ffe8bb;
	padding: 20px 15px;
	margin-bottom: 35px
}
.support-content {
	width: 75%;
	font-weight: 300;
	font-size: 13px
}
.support-content h3 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0
}
.support-content p {
	margin: 0
}
/*Support*/

/*Privacy*/
.privacy-section p {
	line-height: 25px;
	color: #666666
}
.phone-mail {
	line-height: 23px;
	margin-top: -3px
}

.quote-hotspot {position:absolute;
	top: -100px;
}
.page-not-found-img {
	max-width: 100%;
	margin-bottom: 40px
}

/*Twitter Handling*/
..twitter-handle {
	width: 600px;
	padding: 15px;
	margin: 50px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.twitter-handle .date {
	display: none
}
.twitter-handle a {
	font-size: 16px;
	color: #8ECE50;
	text-decoration: none
}
.twitter-handle .tweet {
	overflow: hidden;
}
.twitter-handle ul {
	width: 99999px;
	min-height: 30px;
	margin:0
}
.twitter-handle ul li {
	width: 854px;
	color:#FFF;
	text-align:left;
	list-style:none;
	min-height: 70px;
	float: left;

	font-weight:300;padding: 0 10px 0 0;
	margin: 20px auto;
}
.screen-name {
	font-size: 16px;
	font-weight:400;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.twitter-handle ul li {
	padding-left: 35px;
	position: relative
}
.twitter-handle ul li::before {
	font-family: 'FontAwesome';
	content: '\f099';
	position: absolute;
	left: 0;
	font-size: 20px;
	color: #8ECE50;
}

.news-letter-top {/* Permalink - use to edit and share this gradient: /#272941+0,52697c+100 */
	background: #272941; /* Old browsers */
	background: -moz-linear-gradient(45deg, #272941 0%, #52697c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #272941 0%, #52697c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #272941 0%, #52697c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272941', endColorstr='#52697c', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:34px 20px 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 260px;
	right: 0;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px
}
.dropdown-menu{min-height:80px}
/*Twitter Handling*/
.no-js .owl-carousel, .owl-carousel.owl-loaded{position:relative; direction: ltr;}
